<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="versionWatcher">
            <h2><span>Version Watcher</span> {{versionWatcher.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Watcher Name</span></dt>
                <dd>
                    <span>{{versionWatcher.watcherName}}</span>
                </dd>
                <dt><span>Active</span></dt>
                <dd>
                    <span>{{versionWatcher.active}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{versionWatcher.user?.id}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/version-watcher', versionWatcher.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
